//color
$primary: #0b1e5a;
$secondary: #498dc5;

$text: #303030;
$black: #000;
$white: #fff;

//font-family
$yugo: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
$object-fit: 'object-fit: cover; object-position: center;';

//font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
